fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
argon2-cffi
python-multipart
openpyxl
pandas
xlrd
boto3
pypdf==5.9.0
requests
reportlab
